/* ******* COMMON ********** */
html {
  height: 100%;
  background: black url(images/bg.gif) center no-repeat;
  background-size: cover;
}
body {
  height: 100%;
  font-size: 13px;
  font-family: "Courier New",Courier,Monaco, serif;
  color: white;
}
* {
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 300px;
  animation: fadein 1s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header, .body, .footer {
  /*border: 1px solid white;*/
}

/* ******* HEAD ********** */

.logo {
  margin-bottom: 10px;
}

.header {
  margin-bottom: 100px;
}

/* ******* BODY ********** */

.navigation li {
  margin-bottom: 15px;
}

.navigation a:hover {
  background: red;
}

.navigation a {
  transition: all .5s;
}

.body {
  margin-bottom: 50px;
}


/* ******* FOOTER ********** */

.social-links li {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
}

.social-links img {
  max-width: 100%;
}

.social-links a {
  opacity: 0.2;
}
.social-links a:hover {
  opacity: 0.9;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
